*, ::before, ::after {
    box-sizing: border-box;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    position: relative;
}

li a {
    font-size: 18px;
    margin-right: 15px;
    display: block;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
}

header nav {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px rgb(11, 11, 11);
    height: 70px;
    background-color: white;
    z-index: 1000;
}

header nav .logo img {
    width: 50px;
    cursor: pointer;
    margin: 7px 0px;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    color: hsl(0, 0%, 3%);
}

header nav .icon i {
    font-size: 20px;
    margin: 0 5px;
    text-decoration: none;
    cursor: pointer;
}

header nav li a:hover {
    color: red;
    text-decoration: underline;
}

header nav li a:active {
    color: hsl(0, 0%, 44%);
    text-decoration: underline;
}

header nav .icon i:hover {
    color: red;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 54%);
    border: 1px solid rgb(204, 204, 204);
    border-top: none;
    z-index: 1;
    top: 100%;
    min-width: 150px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    padding: 10px 15px;
    text-align: left;  
    color: hsl(0, 0%, 3%);
}

.dropdown-menu li a:hover {
    color: hsl(0, 1%, 81%);
    background-color: hsl(0, 0%, 44%);
    text-decoration: none;
}


/*This is for styling and positioning the main */
.intro {
    font-size: 1rem;
    margin:25px;
    padding:15px;
    border:5px;
    background-image: url(image/background.jpg); 
    height: 800px;
    background-size:cover;
    background-position:center;
    /*
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;/*Specifies whether a background scrolls or it is fixed.
    background-size:cover*/
}.intro h1{
    position: relative;
    padding:5px;
    text-align: center;
    font-size:3rem;
    color :hsl(0, 0%, 0%);
    
    
}
.intro h3{
    position:relative;
    text-align:center;
    color :hsl(0, 0%, 0%);
}


.intro #title{
    margin-top:200px;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 30px;
    gap:10px;
}
.images a {
    position: relative;
    display: block;
}

.images img {
    height:100%;
    width:100%;
    display: block;
}
.images .description {
    position: absolute;
    bottom: 50%;
    width: 100%;
    padding:100px 0;
    color:hsl(0, 0%, 15%);
    display:none;
}
.images a:hover .description{
    text-align:center;
    display:block;
    top:0;
    bottom:0;
    background-color:hsl(0, 0%, 44%);
}
.order{
    position:relative;
    font-size:1.3rem;
    padding:30px;
    background-color:hsl(0, 100%, 30%);
    right:0;
    left:47%;
    margin:30px;
    cursor:pointer;
    display: inline-block;
    transition: background-color 0.7s;
}
.order:hover{
    background-color:hsl(0, 100%, 50%);
}
.order:active + form {
    display: block;
}
form{

    margin-left: 35%;
}
.form-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-right: 150px;
    max-width: 30%;
}

.form-column {
    align-items:50%;
    margin-left:50%;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
}
.about {
    display: flex;
    border: 1px solid;
    width: 100%;
    margin-bottom: 5px;
    padding: 20px;
  }

  .bg-image {
    width: 40%; 
    background-image: url('image/bg2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  .about-content {
    width: 70%; 
    padding: 20px;
    text-align: center;
  }

  .about .icon i {
    padding: 10px;
    cursor: pointer;
  }

  .about table {
    margin: 0 auto;
    border-width: 10px;
    border-collapse: separate;
  }
  .about table td, th {
    padding: 10px;
    border: 1px solid;
    border-collapse: separate;
  }
.firstline{
    color:hsl(0, 100%, 30%);
  }

  .review-class{
    display:grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    column-gap: 40px;
    flex-wrap: wrap;
    padding: 100px;
    
  }
  .review-class .reviews{
    background-color: hsl(0, 0%, 82%);
    height: 100%;
    padding: 30px;
  }
  .review-class .reviews i{
    margin-top: 15px;
  }
  
  .home-socials {
    background-image: url('image/background2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    color: hsl(0, 0%, 5%);; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:500px;
}

.home-socials p {
    margin-bottom: 20px;
    font-size: 2rem;

}

.home-socials .icons a {
    margin: 0 10px;
    color: hsl(0, 0%, 0%);
    font-size: 1.5rem;
}

.home-socials .icons a:hover {
    color: hsl(0, 100%, 30%);
}

/* Styling and positioning of the footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    padding-top: 70px; 
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #f1f1f1;
    padding: 20px;
    flex: 1;
}
section article {
    text-align: center;
}
.socials {
    cursor: pointer;
    text-decoration: none;
}
.socials i {
    padding: 3px;
}
.socials a:visited {
    color: hsl(0, 0%, 3%);
}
.socials i:hover {
    color: hsl(0, 100%, 50%);
}
footer #credit{
    text-align:center;
    font-size:1.2rem;
    background-color: hsl(0, 100%, 30%);
}
footer #credit{
    text-align:center;
    font-size:1.2rem;
    background-color: hsl(0, 100%, 30%);
}
/*Review Styling*/
.Revs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -10;
    background-color: #d7fab5;


}
.FDri {
background-color: hsl(0, 1%, 81%);
max-width: 700px;
margin: 20px auto;
padding: 30px;
border: 0.1px transparent #2c2f31;
box-sizing: border-box;

text-align: justify;
position: relative;
border-radius: 5px;
}

.FDri h4 {
color: #0b1825;
font-size: 18px;
}

.FDri p {
color: #0b1825;
font-size: 25px;
margin: 10px 0 0;
font-weight: lighter;
}
.Arti {
background-color: hsl(0, 1%, 81%);
max-width: 700px;
margin: 20px auto;
padding: 30px;
border: 0.1px transparent #2c2f31;
box-sizing: border-box;

text-align: justify;
position: relative;
border-radius: 5px;
}

.Arti h4 {
color: #0b1825;
font-size: 18px;
}

.Arti p {
color: #0b1825;
font-size: 25px;
margin: 10px 0 0;
font-weight: lighter;
}


/*Styling for Accounts*/
.AccStuff {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px "Open Sans", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  min-height: 700px;
  position: relative; 
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: #10102a;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition-duration: 5ms;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  cursor: pointer;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #d7fab5;
  border-color: #0b1825;
  cursor: pointer;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #f1f1f1;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: #aaa;
}
.login-form .group input[data-type="password"] {
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #c82626;
  cursor: pointer;
}
.login-form .group .button:hover {
    background:#C04000;
    cursor: pointer;
  }
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: #d7fab5;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}
.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
  color: #cbc0c0;
}

/*End of Sign Up styling*/
/*Review page stuff*/
.container {
    width: 100%;
    height: 100vh;
    color: #d7fab5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #0b1825;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    text-align: center;
    width: 43%;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #10102a;
    border: 1px solid #10102a;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: aqua;
    transform: scale(1.01);
    background-color: #090921;
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: system-ui;
}


@media screen and (max-width:700px) {
    .container {
        height: auto;
    }

    .description {
        width: 90%;
    }
}

@media screen and (max-width:375px) {
    .reviewSection {
        padding: 0;
    }

    .reviewItem {
        width: 100%;
    }

    .clientImage {
        margin-bottom: 0.6rem;
    }

    .top {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}
